.blogWholeSection {
    padding: 5vh 5vw;
    margin: 0 10vw;
}

.blogSection {
    border: solid white 1px;
    padding: 1%;
    margin-bottom: 5vh;
}

.blogTitle {
    font-weight: bold;
    font-size: max(1.75vw, 24px);
    width: fit-content;
}

.blogBody {
    width: 90%;
    font-size: max(1.25vw, 18px);
    padding: 0 5vw;
}

.blogBody p {
    text-indent: 5vw; 
}

.blogMedia {
    text-align: center;
}

.blogMedia img {
    width: 30%;
    height: auto;
}

.blogMedia p {
    display: block;
}
