a {
    color: aqua;
}


.blogWholeSection {
    padding: 5vh 5vw;
    margin: 0 10vw;
}

.blogSection {
    border: solid white 1px;
    padding: 1%;
    margin-bottom: 5vh;
}

.blogTitle {
    font-weight: bold;
    font-size: max(1.75vw, 24px);
    width: fit-content;
    padding-bottom: 2.5vh;
}

.blogTitleMember {
    font-size: max(1.75vw, 24px);
    text-indent: 3vw;
}

    .blogTitleMember a {
        color: white;
    }

.blogBody {
    font-size: max(1.25vw, 18px);
    padding: 0 5vw;
}

    .blogBody p {
        text-indent: 3vw;
    }

    .blogBody code {

    }

.blogMedia {
    text-align: center;
}

    .blogMedia img {
        width: 50%;
        height: auto;
    }

    .blogMedia video {
        width: 50%;
        height: auto;
    }

    .blogMedia p {
        display: block;
    }


.ProjectLink {
    font-size: max(1.25vw, 18px);
}

.all-blogs {
    display: grid;
    grid-template-areas:
        'm1title m1b1 m1b2 m1b3 m1b4'
        'm2title m2b1 m2b2 m2b3 m2b4'
        'm3title m3b1 m3b2 m3b3 m3b4'
        'm4title m4b1 m4b2 m4b3 m4b4';

    grid-template-rows: auto auto auto auto;
    grid-template-columns: 25%;

    font-size: 125%;
    width: 25%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    text-align: center;
}

.cell-m1title {
    grid-area: m1title;
    font-weight: bold;
}

.cell-m2title {
    grid-area: m2title;
    font-weight: bold;
}

.cell-m3title {
    grid-area: m3title;
    font-weight: bold;
}

.cell-m4title {
    grid-area: m4title;
    font-weight: bold;
}

.cell-m1b1 {
    grid-area: m1b1;
}

.cell-m1b2 {
    grid-area: m1b2;
}

.cell-m1b3 {
    grid-area: m1b3;
}

.cell-m1b4 {
    grid-area: m1b4;
}

.cell-m2b1 {
    grid-area: m2b1;
}

.cell-m2b2 {
    grid-area: m2b2;
}

.cell-m2b3 {
    grid-area: m2b3;
}

.cell-m2b4 {
    grid-area: m2b4;
}

.cell-m3b1 {
    grid-area: m3b1;
}

.cell-m3b2 {
    grid-area: m3b2;
}

.cell-m3b3 {
    grid-area: m3b3;
}

.cell-m3b4 {
    grid-area: m3b4;
}

.cell-m4b1 {
    grid-area: m4b1;
}

.cell-m4b2 {
    grid-area: m4b2;
}

.cell-m4b3 {
    grid-area: m4b3;
}

.cell-m4b4 {
    grid-area: m4b4;
}