a {
    color: aqua;
}


.blogWholeSection {
    padding: 5vh 5vw;
    margin: 0 10vw;
}

.blogSection {
    border: solid white 1px;
    padding: 1%;
    margin-bottom: 5vh;
}

.blogTitle {
    font-weight: bold;
    font-size: max(1.75vw, 24px);
    width: fit-content;
    padding-bottom: 2.5vh;
}

.blogTitleMember {
    font-size: max(1.75vw, 24px);
    text-indent: 3vw;
}

    .blogTitleMember a {
        color: white;
    }

.blogBody {
    font-size: max(1.25vw, 18px);
    padding: 0 5vw;
}

    .blogBody p {
        text-indent: 3vw;
    }

.blogMedia {
    text-align: center;
}

    .blogMedia img {
        width: 50%;
        height: auto;
    }

    .blogMedia video {
        width: 50%;
        height: auto;
    }

    .blogMedia p {
        display: block;
    }


.ProjectLink {
    font-size: max(1.25vw, 18px);
}
